# Clion and other JetBrains IDEs
/.idea
/cmake-build-*

# Visual Studio / Visual Studio Code
/.vs/
/.vscode/
/out/

# clangd cache
/.cache/

# build directories (vscode-cmake-tools, user-defined, ...)
/build*/
